

$primary-color: #7C0029;
$secondary-color: #070e1b;

$dark-color: #282525;
$light-color: #e4e0e0;
$danger-color: #de3b4b;
$success-color: #18a236;

$white-color: #fff;
$black-color: #000;
$grey-color: #757575;

$default-text-color: #333;
$placeholder-color: #070e1b9e;

$dark-bg-border-color: #5ea7f20d;
$box-shadow-color: #070e1b26;

$sidebar-widget-bg-color: #f1f1f29c;

$rating-stars-color: #5EA7F2;

//Opacity Color
$bg-overlay-color: #5d5656;
$bg-overlay-hover-color: #4a4747;

$default-line-height: 1.2;


